@use 'src/lib/sass/slideUp';

.works{

  padding-top: var(--pad-top-page);

  h1{
    padding-top: 3rem;
  }

  .par{
    margin-bottom: 4rem;
  }

  .workThumbnails{

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &.paused{
    h1{
      animation-name: slideUp;
      animation-duration: 400ms;
      animation-fill-mode: both;
      animation-delay: 500ms;
      animation-play-state: paused;
    }
    .par{
      animation-name: slideUp;
      animation-duration: 400ms;
      animation-delay: 700ms;
      animation-fill-mode: both;
      animation-play-state: paused;
    }

    &.visible{
      h1{
        animation-play-state: running;
      }
      .par{
        animation-play-state: running;
      }
    }
  }


}