:root {

  --max-width: 1100px;
  --bg: #111;
  --transparent-bg: rgba(17,17,17,0.7);
  --text: #f0f0f0;
  --blue: #74b9ff;

  --pad-x: 2rem;
  --pad-y: 1rem;

  --pad-top-page: 65px;

  @media screen and (min-width: 1024px){
    --pad-x: 4rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-color: #333 rgba(0,0,0,0);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
  /* background-color: rgba(0, 0, 0, 0); */
}
 
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
 
*::-webkit-scrollbar-thumb {
  background-color: #333;
}

html{
  height: 100%;
  background-color: var(--bg);
  scroll-behavior: smooth;
  /* scroll-snap-type: y proximity; */
  /* scrollbar-gutter: stable; */
  /* overflow-x: hidden; */
}

html.menuOpen{
  overflow: hidden;
}

body{
  min-height: 100%;
  color: var(--text);
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

body > header, body > main, body > footer{
  position: relative;
  z-index: 2;
}

body > main{
  flex: 1 1 auto;
  padding-left: var(--pad-x);
  padding-right: var(--pad-x);
}

a{
  color: var(--blue);
  text-decoration: none;
  position: relative;
}

a:visited{
  color: var(--blue);
}


a:after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: " ";
  display: inline-block;
  border-bottom: 1px solid rgba(255,255,255,.5);
  width: 100%;
  height: 1px;
  transition: transform .2s ease;
  transform: scaleX(0);
  transform-origin: center center;
}

a:hover:after {
  transform: scaleX(1);
}

a.noline:hover:after {
  transform: scaleX(0);
}