@keyframes gridShow {
  0%{
    opacity: 0;
    grid-template-columns: 0fr;
  }
  50%{
    opacity: 0;
    grid-template-columns: 1fr;
  }
  100%{
    opacity: 1;
    grid-template-columns: 1fr;
  }
}


.menuContent{

  // --transition-delay-header
  --tdh: 500ms;
  // --transition-delay-gap
  --tdg: 100ms;

  position: fixed;
  top:0;
  width: 100%;
  height: 100vh;
  z-index: 500;
  left:100%;
  
  &:before{
    content: '';
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 500ms;
  }

  &>div{
    position: relative;
    z-index: 502;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &>div{
      text-align: center;
      h3{
        font-weight: 200;
        margin-bottom: 2rem;
        font-size: 3rem;
        opacity: 0;
        transform: translateY(-21px);
        transition: opacity 0ms, transform 0ms;
      }
      span{
        display: block;
        font-weight: 100;
        margin-bottom: 1rem;
        font-size: 2rem;
        opacity: 0;
        transform: translateY(21px);
        transition: opacity 0ms, transform 0ms;
      }
    }
  }

  // &:has(+ input:checked) {
  &.isOn {
    left:0%;
    &:before{
      opacity: 1;
    }

    &>div{
      &>div{
        h3{
          transition: opacity 300ms, transform 300ms;
          opacity: 1;
          transform: translateY(0px);
          transition-delay: var(--tdh);
        }

        span{
          transition: opacity 300ms, transform 300ms;
          opacity: 1;
          transform: translateY(0px);

          &[data-animation-id="home"]{
            transition-delay: calc(
              var(--tdh) + calc(var(--tdg) * 1)
            );
          }
  
          &[data-animation-id="works"]{
            transition-delay: calc(
              var(--tdh) + calc(var(--tdg) * 2)
            );
          }
    
          &[data-animation-id="techs"]{
            transition-delay: calc(
              var(--tdh) + calc(var(--tdg) * 3)
            );
          }
    
          &[data-animation-id="contact"]{
            transition-delay: calc(
              var(--tdh) + calc(var(--tdg) * 4)
            );
          }
        }
      }
    }
  }

  &.nojs{

    position: static;
    width: auto;
    height: auto;

    &:before{
      content: unset;
      // border: 1px solid red;
      // opacity: 1;
    }

    &>div{
      padding: 0;
      display: grid;
      animation-name: gridShow;
      animation-duration: 500ms;
      animation-delay: 500ms;
      animation-fill-mode: both;

      &>div{
        overflow: hidden;
        text-align: right;
        h3{
          display: none;
        }
        span{
          display: inline;
          margin-left: 2rem;
          margin-bottom: 0;
          font-size: 1rem;
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }

  }

}