@use 'src/lib/sass/slideUp';

.cell{

    // display: grid; // inline-grid?
    // place-items: center;
    display: inline-block;
    width: 50%;
    height: 89px;
    margin: 0;
    padding: 0;
    position: relative;
    // outline: 1px solid red;
    overflow: hidden;
    
    img{
        position: absolute;
        top:50%;
        left:50%;
        width: min(80%, 150px);
        height: min(80%, 150px);
        object-fit: contain;
        object-position: center center;
        transform-origin: 0% 0%;
        scale: 1;
        transform: translate3d(-50%,-50%,0);
        transition: scale 200ms;
    }

    &:hover{
        img{
            scale: 1.1;
        }
    }

    &:active{
        img{
            scale: 1;
        }
    }

    &[data-id="docker"]{
        img{
            width: min(120%, 150px);
            height: min(120%, 150px);
        }
    }

    &[data-id="cloudflare"]{
        width: 100%;
    }

    &[data-id="express"]{
        width: 100%;
    }

    &[data-id="next"]{
        width: 100%;
    }

    &[data-id="electron"]{
        width: 100%;
        img{
            max-width: 100%;
            width: min(320%, 400px);
            height: min(320%, 400px);
        }
    }

    &[data-id="postgres"]{
        img{
            width: min(100%, 150px);
            height: min(100%, 150px);
        }
    }

    &[data-id="redis"]{
        img{
            width: min(100%, 150px);
            height: min(100%, 150px);
        }
    }

    &[data-id="do"]{
        img{
            width: min(110%, 150px);
            height: min(110%, 150px);
        }
    }

    &[data-id="stripe"]{
        img{
            width: min(120%, 150px);
            height: min(120%, 150px);
        }
    }

    &[data-id="sendgrid"]{
        width: 60%;
    }

    &[data-id="gitlab"]{
        img{
            width: min(110%, 150px);
            height: min(110%, 150px);
        }
    }

    &.anim{

        animation-name: slideUp;
        animation-duration: 200ms;
        animation-fill-mode: both;
        animation-play-state: paused;

        &.visible{
            animation-play-state: running;
        }
    }

    @media screen and (min-width: 364px) {
        width: 89px;
        height: 89px;

        &[data-id="cloudflare"]{
            width: 180px;
        }

        &[data-id="express"]{
            width: 180px;
        }

        &[data-id="next"]{
            width: 180px;
        }

        &[data-id="electron"]{
            width: 300px;

            img{
                max-width: unset;
                width: min(380%, 500px);
                height: min(380%, 500px);
            }
        }

        &[data-id="mongo"]{
            img{
                width: min(100%, 150px);
                height: min(100%, 150px);
            }
        }

        &[data-id="stripe"]{
            img{
                width: min(110%, 150px);
                height: min(110%, 150px);
            }
        }

        &[data-id="algolia"]{
            width: 120px;
        }

        &[data-id="twilio"]{
            width: 120px;
            img{
                width: min(100%, 150px);
                height: min(100%, 150px);
            }
        }

        &[data-id="mailgun"]{
            width: 200px;
        }

        &[data-id="sendgrid"]{
            width: 200px;
        }
    }

    @media screen and (min-width: 768px) {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

}