@use 'src/lib/sass/slideUp';
@use 'src/lib/sass/slideLeft';

.contact{
  // border: 1px solid red;

  padding-top: var(--pad-top-page);
  margin-bottom: 10rem;

  .email{
    margin-top: 1rem;
    margin-bottom: 8px;
    a{ font-size: 21px; }
  }

  .city{
    margin-bottom: 34px;
  }

  .links{
    display: flex;
    a{
      margin-right: 21px;
      display: block;
      scale: 1;
      transition: scale 200ms ease-out;
      
      &:hover {
        scale: 1.2;
        &:after{
          transform: scaleX(0);
        }
      }

      &:active {
        scale: 1;
      }
    }
  }

  &.anim{
    
    .h1{
      animation-name: slideUp;
      animation-duration: 400ms;
      animation-fill-mode: both;
      animation-play-state: paused;
    }
  
    .par{
      animation-name: slideUp;
      animation-duration: 400ms;
      animation-delay: 100ms;
      animation-fill-mode: both;
      animation-play-state: paused;
    }

    .email{
      animation-name: slideUp;
      animation-duration: 400ms;
      animation-delay: 200ms;
      animation-fill-mode: both;
      animation-play-state: paused;
    }

    .city{
      animation-name: slideUp;
      animation-duration: 500ms;
      animation-delay: 300ms;
      animation-fill-mode: both;
      animation-play-state: paused;
    }

    .links{
      #github{
        animation-name: slideLeft;
        animation-duration: 400ms;
        animation-fill-mode: both;
        animation-delay: 300ms;
        animation-play-state: paused;
      }
  
      #npm{
        animation-name: slideLeft;
        animation-duration: 400ms;
        animation-fill-mode: both;
        animation-delay: 400ms;
        animation-play-state: paused;
      }
  
      #linkedin{
        animation-name: slideLeft;
        animation-duration: 400ms;
        animation-fill-mode: both;
        animation-delay: 500ms;
        animation-play-state: paused;
      }
  
      #skype{
        animation-name: slideLeft;
        animation-duration: 400ms;
        animation-fill-mode: both;
        animation-delay: 600ms;
        animation-play-state: paused;
      }
    }

    &.visible{
      .h1{
        animation-play-state: running;
      }
  
      .par{
        animation-play-state: running;
      }
  
      .email{
        animation-play-state: running;
      }
  
      .city{
        animation-play-state: running;
      }
  
      .links{
        #github{
          animation-play-state: running;
        }
    
        #npm{
          animation-play-state: running;
        }
    
        #linkedin{
          animation-play-state: running;
        }
    
        #skype{
          animation-play-state: running;
        }
      }
    }
  }

}