
.header{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  padding: var(--pad-y) var(--pad-x);
  padding-top: 4rem;
  padding-bottom: 4rem;
  z-index: 10;
  transition: padding-top 300ms, padding-bottom 300ms;
  border-bottom: 1px solid transparent;

  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0);
    transition: background-color 300ms, backdrop-filter 300ms;
    backdrop-filter: blur(0px);
  }

  
  .layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    transition: font-size 300ms;
    color: var(--text);
    text-decoration: none;
    font-size: 4rem;
  }

  &.small {

    border-bottom: 1px solid #222;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &:before{
      background-color: rgba(0,0,0,0.6);
      backdrop-filter: blur(3px);
    }

    .logo {
      font-size: 2rem;
    }

  }
}