@use 'src/lib/sass/slideUp';


.container{
  &:hover{
    z-index: 10;
  }
  &.paused{
    animation-name: slideUp;
    animation-duration: 400ms;
    animation-fill-mode: both;
    animation-play-state: paused;
    &.visible{
      animation-play-state: running;
    }
  }
}

.workThumbnail {
  display: block;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  scale: 1;
  border: 1px solid rgba(0,0,0,0.5);
  scroll-margin-top: 200px;

  &>img{
    contain: layout;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }
    
  .label, .shadow{
    position: absolute;
    bottom: 21px;
    left: 21px;
    width: auto;
    height: 34px;
    padding: 5px 8px;
    border-radius: 5px;
  }

  .shadow{
    transform: translateZ(0px);
    background-color: rgba(0,0,0,0.2);
    overflow: hidden;
    filter: blur(3px);

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      opacity: 0;
    }
  }

  .label{
    transform: translateZ(30px);
    background-color: white;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.4);

    img{
      display: block;
      background-color: white;
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }

  &:active {
    transition: scale 250ms ease, transform 250ms ease;
    transform: perspective(1000px) !important;
    scale: 0.98;
    .label{
      transform: translateZ(0px);
    }
  }

  &:after{
    content: unset;
  }

}