.detail{

  padding-top: var(--pad-top-page);
  
  div{
    margin-top: 34px;
    width: 600px;
    padding-top: calc(600px * 0.5625); /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    position: relative;
    overflow: hidden;

    img{
      view-transition-name: work-image;
      contain: layout;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center top;

    }
  }


}