/* add 60px for mobile scrolling */

.pendulum{

    --additional-height: 1000px;

    &.nojs{
        --additional-height: 0px;
    }

    height: calc(100vh + var(--additional-height));
    width: 100%;
    margin: 0 auto;
    z-index: 0;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;

    .bg{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: background-color 1000ms;
    }

    .bg.on{
        background-color: var(--transparent-bg);
    }

    .inside{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh + var(--additional-height));
    }

    img{
        object-fit: none;
        object-position: 100% 100%;

        &.noscript{
            width: 100%;
            height: 100%;
            object-fit:cover;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            opacity: 0.4;
            z-index: 2;
        }
    }

}