.footer{

  background-color: rgba(0,0,0,0.4);
  font-size: 0.8rem;
  color: #7d7d7d;
  padding: 1rem var(--pad-x);

  a.mailToLink{
    color: inherit;  

    &:hover{
      color: var(--blue);
    }
  }

}