@use 'src/lib/sass/rubbery';
@use 'src/lib/sass/slideUp';
@use 'src/lib/sass/slideLeft';

.hello{
  // border: 1px solid red;

  // logo size + 3rem
  // min-height: calc(100vh - 4rem - 4rem - 4rem - 3rem);
  min-height: 100vh;
  padding-top: 225px;

  transition: opacity 300ms;
  transition-timing-function: ease-out;
  opacity: 1;

  &.intersected{
    transition: opacity 100ms;
    opacity: 0;
  }

  p{
    font-size: 18px;
    padding-bottom: 5px;
  }

  --base-anim-delay: 500ms;

  .hellobig{
    font-size: 34px;
    margin-bottom: 13px;
    margin-top: 21px;
    animation-name: slideUp;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-delay: var(--base-anim-delay);
  }

  .p1{
    font-size: 18px;
    padding-bottom: 5px;
    animation-name: slideUp;
    animation-duration: 350ms;
    animation-fill-mode: both;
    display: block;
    animation-delay: calc(var(--base-anim-delay) + 100ms);
  }

  .p2{
    font-size: 18px;
    padding-bottom: 5px;
    animation-name: slideUp;
    animation-duration: 400ms;
    animation-fill-mode: both;
    display: block;
    animation-delay: calc(var(--base-anim-delay) + 200ms);
  }

  .p3{
    font-size: 18px;
    padding-bottom: 5px;
    animation-name: slideUp;
    animation-duration: 450ms;
    animation-fill-mode: both;
    display: block;
    animation-delay: calc(var(--base-anim-delay) + 300ms);
  }

  .smiley{
    font-size: 45px;
    animation-name: rubbery;
    animation-duration: 1000ms;
    animation-delay: calc(var(--base-anim-delay) + 1200ms);
    animation-fill-mode: both;
  }

  .menu{

    margin-top: 3rem;

    a{
      animation-name: slideLeft;
      margin-right: 1.5rem;
      animation-duration: 450ms;
      animation-fill-mode: both;
      display: inline-block;

      &[data-animation-id="works"]{
        animation-delay: calc(var(--base-anim-delay) + 500ms);
      }

      &[data-animation-id="techs"]{
        animation-delay: calc(var(--base-anim-delay) + 600ms);
      }

      &[data-animation-id="contact"]{
        animation-delay: calc(var(--base-anim-delay) + 700ms);
      }
    }

  }


}