@use 'src/lib/sass/slideUp';

.tech{

    padding-top: var(--pad-top-page);
    padding-bottom: 5rem;
    
    h1{
        padding-top: 3rem;
    }

    .par{
        margin-bottom: 4rem;
    }


    .techRow{
        margin-bottom: 1rem;
    }

    &.paused{
        h1{
            animation-name: slideUp;
            animation-duration: 400ms;
            animation-fill-mode: both;
            animation-delay: 500ms;
            animation-play-state: paused;
        }
        .par{
            animation-name: slideUp;
            animation-duration: 400ms;
            animation-delay: 700ms;
            animation-fill-mode: both;
            animation-play-state: paused;
        }

        &.visible{
            h1{
                animation-play-state: running;
            }
            .par{
                animation-play-state: running;
            }
        }
    }

    
}